# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1) R
2) Python
3) SQL

Some of the commonly used libraries used by Data Scientists include:
1) pandas
2) numpy
3) matplotlib
4) TensorFlow
5) PyTorch
6) seaborn

| Data Science Tools |
| ------------------- |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List popular Tools used for Data Science
- List popular libraries used in Data Science
- Introduction to Jupyter Notebook
- Introduction to R

## Author
Aarchishya Kapoor